{% extends 'base.html.twig' %}

{% block title %}Hello ChampionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for championUnique in champion %}
        <ul>
            <li><p>{{championUnique.name}}</p></li>
            <li><p>{{championUnique.title}}</p></li>
            <li><p>{{championUnique.lore}}</p></li>
            {% for tag in championUnique.tags %}
                <li>{{tag}}</li>
            {% endfor %}

            <li><img src='https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{championUnique.id}}_0.jpg'></li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
